.App {
  text-align: center;

}
img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.TODAY{

background-color: #c54f4f;
}
.THISWEEK{

background-color: #b0743c;

}
.GREEN{
  
  background-color: rgb(134, 183, 84);

}
#buttonS{
  width: 350px;
  font-size: large;
  color:rgb(14, 14, 14);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* height: 50px; */
}
#blur{
border: 3px solid rgb(0, 0, 0);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.a :hover{
  color: #20d60f;
 transform:scale(1.1)
}
.App-link {
  color: #61dafb;
}
body{
  background-color: pink;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
